
.symbols {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: -15px;
  z-index: 1;
}

.symbols img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
  border: 2px solid #b59f3b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.symbols img:first-child {
  z-index: 2;
  transform: translate(25px, 9.3px);
}

.symbols img:last-child {
  transform: translate(10px, 10px);
}








